.container{
    padding: 80px;
}

.container__form{
    width: 100%;
    mat-form-field{
        width: 100%;
    }
}

mat-card-title{
    margin: 50px;
    text-align: center;
}
mat-form-field{
    margin: 20px;
}

button{
    outline: none;
}

.input__flex{
    display: flex;
    justify-content: center;
}

.btn__register{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.btn__register button{
    padding-left: 50px;
    padding-right: 50px;
}

// media 
@media screen and (max-width:1024px){
}
    
@media screen and (max-width:767px){
    .container{
        padding: 5px;
    }
}

@media screen and (max-width:480px){
    .container{
        padding: 5px;
    }
}
    
@media screen and (max-width:320px){
    .container{
        padding: 0px;
    }
}
